/*General*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
    padding: 25px 270px;
    background-color: #ff6900;
    
}

.Nav > ul,
.Nav> div {
    border: 2px dashed black;
}


/*/HEADER*/