/*General*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
    padding: 25px 270px;
    background-color: #ff6900;
    
}
header .Topbar {
    display: flex;
}

header .Topbar > .Nav,
header .Topbar> div {
    color: #ffffff;
}

 .Lista {
    list-style: none;
    display: flex;
    gap: 10px;
}

header .Topbar > .Nav,
header .Topbar > .Clg {
    width: 250px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

header .Topbar > .Clg {
    justify-content: right;
}

header .Topbar > .Nav {
    font-weight: bolder;
}

header .Topbar > .Logo {
    flex-grow: 1;
    text-align: center;
}
.LogoImg {
    width: 40%;
}
/*/HEADER*/

/*MAIN*/
main {
    padding: 60px 270px;
}

.Row {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    
}

.Box {
    width: 32.6%;
    height: 400px;
    flex-shrink: 0;
    margin-bottom: 60px;
    position: relative;
}

.Elements {
    font-size: smaller;
}

.Sale {
    background-color: #ff0000;
    color: #ffffff;
    position: absolute;
    top: 350px;
    padding: 1px;
}
.Certif {
    background-color: #008000;
    color: #ffffff;
    position: absolute;
    top: 350px;
    left: 35px;
    padding: 1px;
}
.Last {
    background-color: #008000;
    color: #ffffff;
    position: absolute;
    top: 350px;
    left: 0;
    padding: 1px;
}

.Price {
    font-size: x-small;
    display: flex;
    position: absolute;
    top: 420px;
}
.N {
    color: #ff0000;
}

.Brand {
    font-size: x-small;
    position: absolute;
    top: 401px;
}
main .Row .Box .Elements > h4 {
    font-size: x-small;
    position: absolute;
    top: 410px;
}

.Like {
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 2;
}
.Like:hover {
    color: #ff0000;
}

.Img-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.Img-1:hover {
    opacity: 0;
}
.Img-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
/*/MAIN*/

/*FOOTER*/
footer {
    background-color: #1a1a1a;
    padding: 25px 270px;
    display: flex;
    justify-content: space-between;
}
footer .Srl > h4 {
    color: #ffffff;
    padding-bottom: 5px;
}

.Finale {
    color: #ffffff;
    font-size: smaller;
}

footer .Info > h5 {
    color: #ffffff;
    padding-bottom: 5px;
}
.Icons {
    color: #ffffff;
}
/*/FOOTER*/

